@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    @apply min-h-screen;
    @apply bg-white dark:bg-slate-900;
    @apply text-slate-900 dark:text-slate-300;
  }

  #__next {
    @apply flex flex-col;
    @apply min-h-screen;
    @apply items-center;
  }

  #main {
    @apply flex flex-col relative grow mb-4;
    @apply w-full;
    @apply items-center;
  }
}

@layer components {
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  a:not(.unstyled):not(.branding):not(.btn):not(.nav-item):not(.social-icon) {
    @apply text-action-base;
    @apply relative;
    @apply transition-all duration-300 ease-in-out;

    &::before {
      content: "";
      @apply absolute -bottom-[2px] left-0;
      @apply w-full h-[1px] rounded bg-action-hover;

      @apply transition-transform duration-300 ease-in-out origin-right scale-x-0;
    }

    &:hover {
      @apply text-action-hover;
      &:before {
        @apply origin-left scale-x-100;
      }
    }

    &:active {
      @apply text-indigo-600;
      @apply transform translate-y-[2px];
    }
  }

  dfn {
    @apply not-italic underline underline-offset-4 decoration-dotted;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-extrabold leading-none text-inherit;
  }

  h1 {
    @apply text-4xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl lg:text-4xl;
  }

  h4 {
    @apply text-xl lg:text-2xl;
  }

  h5,
  h6 {
    @apply text-lg lg:text-xl;
  }

  p {
    @apply text-base lg:text-xl;
  }

  ul,
  ol {
  }

  li {
  }

  code {
  }

  blockquote {
  }
}

@layer utilities {
  .section-padding {
    &-sm {
      @apply py-4;
    }

    &-md {
      @apply py-4 md:p-8 lg:p-16;
    }

    &-lg {
      @apply py-8 md:p-12 lg:p-20;
    }
  }

  .content-padding {
    &-sm {
      @apply p-4;
    }

    &-md {
      @apply p-4 py-12 md:p-8 lg:p-16;
    }

    &-lg {
      @apply p-8 py-20 md:p-16 lg:p-20;
    }
  }

  .content-gap {
    &-sm {
      @apply gap-4;
    }

    &-md {
      @apply gap-4 md:gap-8 lg:gap-12;
    }

    &-lg {
      @apply gap-8 md:gap-12 lg:gap-20;
    }
  }
}
